<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/myblog}" th:text="myblog">플랫폼이름</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/loginform}" th:text="로그인">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">내 벨로그</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Login Form -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">로그인</h3>

                    <form>
                        <div class="form-group">
                            <label for="username"></label>
                            <input type="text" class="form-control" id="username" placeholder="아이디">
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input type="password" class="form-control" id="password" placeholder="암호">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">로그인버튼</button>
                        <button class="btn btn-secondary btn-block" type="button"
                                th:onclick="|location.href='@{/userreg}'|">회원가입</button>
<!--                        <a href="/register" class="btn btn-secondary btn-block">회원가입</a>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>